[hidden] { display: none !important; }
* { box-sizing: border-box; }

canvas, img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: monospace;
    font-size: larger;

    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
}

a { color: white; }

#renderer {
    width: 100%; height: 100%;
    cursor: pointer;
}

#tooltip {
    position: absolute;
    left: 0; bottom: 0;
    margin: 1rem;
    padding: 1rem;

    color: white;
    background: black;
    border-radius: 1rem;
}
